<article id="report--{{ report.properties.id }}" class="report report--featured">

  <div class="marker--icon feature--marker--icon">
    <div class="marker--icon--image marker--icon--large">
      <img data-ng-if="report.properties.images.length && image.properties.thumbnail"
           data-ng-src="{{ image.properties.thumbnail }}"
           data-ng-repeat="image in report.properties.images" width="100%" />
    </div><br />
    <span class="marker--icon--point"></span>
  </div>

  <div class="report--content">

    <p class="feature--author">
      {{ report.properties.owner.properties.first_name }} {{ report.properties.owner.properties.last_name }},
      <span am-time-ago="report.properties.report_date"></span>
    </p>

    <h1 class="feature--title">
      {{ report.properties.territory.properties.huc_6_name }} Watershed
    </h1>

    <p class="feature--description" data-ng-if="report.properties.report_description">
      {{ report.properties.report_description | truncate:200 }}
    </p>

    <a class="button button-info feature--button" href="/reports/{{ report.id }}">
      View Report
    </a>

  </div>
</article>
