<footer class="site--footer">

  <section class="site--footer--navigation">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/terms">Terms</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    <nav>
      <ul>
        <li>
          <a class="button button-hollow" href="/apply">Apply as an administrator</a>
        </li>
        <li>
          <a class="button" href="/user/login">Log In</a>
        </li>
      </ul>
    </nav>
  </section>

  <section class="site--footer--legalese">
    <div class="">
      <p>
        &copy; 2015 Water Reporter is a project created in cooperation with
        <a href="http://www.chesapeakecommons.org/" target="_blank">
          Chesapeake Commons
        </a>,
        <a href="http://www.viableindustries.com/" target="_blank">
          Viable Industries
        </a>, and the
        <a href="http://www.potomacriverkeepernetwork.org/" target="_blank">
          Potomac Riverkeepers
        </a>.
      </p>
    </div>
  </section>

</footer>
