<footer class="site--footer">

  <section class="site--footer--copyright">
    <div class="container">
      <p>
        &copy; 2015 Water Reporter is a project created in cooperation with
        <a href="http://www.chesapeakecommons.org/" target="_blank">
          Chesapeake Commons</a>,
        <a href="http://www.viableindustries.com/" target="_blank">
          Viable Industries</a>, and the
        <a href="http://www.potomacriverkeepernetwork.org/" target="_blank">
          Potomac Riverkeepers</a>.
      </p>
    </div>
  </section>

</footer>
