<header class="site--header row">
  <div class="col-4 logo">
    <a href="/"><img src="/assets/images/buoylogo.svg" alt="Water Reporter Logo" /></a>
    <h1>Water Reporter</h1>
  </div>
  <nav class="col-5 nav-links">
    <div class="align-bottom align-right">
      <a href="/activity-feed">Activity Feed</a>
      <a href="/about">About</a>
      <a class="button button-submit" href="/submit-report">Submit Report</a>
    </div>
  </nav>
  <div class="col-3 social">
    <div class="align-bottom">
      <img src="/assets/images/facebook.svg" alt="Water Reporter on Facebook" />
      <img src="/assets/images/twitter.svg" alt="Water Reporter on Twitter" />
      <img src="/assets/images/pinterest.svg" alt="Water Reporter on Pinterest" />
    </div>
  </div>
</header>