<header class="site--header container">

  <div class="row">

    <section class="col-sm-4 text-center">
      <a href="/">
        <img src="/images/logo-WaterReporter.png" alt="" title="" width="164" />
      </a>
    </section>

    <section class="col-sm-8">
      <nav class="navigation">
        <ul class="navigation--primary nav navbar-nav pull-right">
          <li>
            <a href="/activity/list">Activity Feed</a>
          </li>
          <li>
            <a href="/activity/map">Activity Map</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>

      <br style="clear:both;" />

      <nav class="navigation">
        <ul class="navigation--contextual nav navbar-nav pull-right">
          <li>
            <a href="/dashboard">Dashboard</a>        
          </li>
          <li>
            <a href="/user/login">Log in</a>        
          </li>
        </ul>
      </nav>
    </section>

  </div>

</header>