<div data-ng-include="'/modules/shared/notifications/notifications--view.html'"></div>

<header class="site--header">
  <div class="container">
    <a class="site--header--brand" href="/activity">
      <img src="/images/logo-WaterReporter-SideBySide.svg" alt="" title="" width="192" />
    </a>

    <form class="site--search site--search--content form" role="form"
          id="form--search--reports" name="form--search--reports"
          data-ng-submit="page.search.redirect()"
          data-ng-if="page.search.visible">
      <div class="form-group">
        <label for="form--search--reportDescription" aria-hidden="true"
               class="element-hidden">
          Search
        </label>
        <input type="text" class="form--control search--control"
               id="form--search--reportDescription" placeholder="Search"
               name="form--search--reportDescription" autofocus="autofocus"
               data-ng-model="page.search.params.report_description" />
      </div>
    </form>

    <nav class="navigation navigation--right">
      <ul class="navigation--utility nav navbar-nav pull-right">
        <li>
          <a href="javascript:void(0);"
             data-ng-click="page.search.visible =! page.search.visible">
             <img class="icon--search" src="/images/icon--search.svg"
                  width="16" alt="Search" />
          </a>
        </li>
        <li data-ng-if="$root.user && $root.user.id">
          <a href="/profiles/{{ $root.user.id }}">{{ $root.user.properties.first_name }} {{ $root.user.properties.last_name }}</a>
        </li>
        <li data-ng-if="$root.user && $root.user.id">
          <a href="/user/logout">Log out</a>
        </li>
        <li data-ng-if="!$root.user.id">
          <a href="/user/login">Log in</a>
        </li>
        <li>
          <a href="/activity" title="Explore the WaterReporter Activity map">
            Explore
          </a>
        </li>
        <li data-ng-if="$root.user.id">
          <a class="button" href="/submit">Submit a Report</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
