<aside class="report--action" data-ng-if="report.properties.state === 'closed'">
  <img src="/images/badget--CertifiedAction.svg" width="228" height="228" alt="" />

  <a class="report--action--owner" href="/profiles/{{ report.properties.closed_by.properties.id }}">
    <span>Action Taken By</span><br />
    {{ report.properties.closed_by.properties.first_name }} {{ report.properties.closed_by.properties.last_name }}
  </a>
</aside>

<article id="report--{{ report.properties.id }}" class="report">
  <header class="report--author">
    <p class="report--date">
      <span data-ng-if="!report.timeToggle"
            data-ng-click="report.timeToggle =! report.timeToggle"
            am-time-ago="report.properties.report_date"></span>
      <span data-ng-if="report.timeToggle"
            data-ng-click="report.timeToggle =! report.timeToggle">
        {{ report.properties.report_date | date:"MMM d, yyyy"}}
      </span>
    </p>
    <a href="/profiles/{{ report.properties.owner.id }}">
      <img class="report--author--avatar" gravatar-size="32"
           data-ng-if="report.properties.owner.properties.email"
           gravatar-src="'{{ report.properties.owner.properties.email }}'" />
    </a>
    <p>
      <a class="report--author--name" href="/profiles/{{ report.properties.owner.id }}">
        {{ report.properties.owner.properties.first_name }} {{ report.properties.owner.properties.last_name }}
      </a>
    </p>
  </header>

  <figure class="report--media">
    <a href="/reports/{{ report.id }}">
      <img data-ng-if="report.properties.images.length && !image.properties.square"
           data-ng-src="{{ image.properties.original }}"
           data-ng-repeat="image in report.properties.images" width="100%" />
      <img data-ng-if="report.properties.images.length && image.properties.square"
           data-ng-src="{{ image.properties.square }}"
           data-ng-repeat="image in report.properties.images" width="100%" />
      <img data-ng-if="!report.properties.images.length" class="img-responsive"
           data-ng-src="/images/icon--MissingImage.png" width="100%" />
    </a>
  </figure>

  <div class="report--content">

    <p>
      <span data-ng-if="report.properties.report_description">
        {{ report.properties.report_description }}
      </span>
      <span data-ng-if="!report.properties.report_description">
        <em>No report description</em>
      </span><br />
      <a class="report--comment--link" href="/reports/{{ report.id }}#comments">
        <span data-ng-if="report.properties.comments.length > 1">
          view all {{ report.properties.comments.length }} comments
        </span>
        <span data-ng-if="report.properties.comments.length === 1">
          view comment
        </span>
      </a>
    </p>

    <p accesskey=""data-ng-if="report.properties.tags.length">
      <span class="label label--brand" data-ng-repeat="tag in report.properties.tags">
        <a href="" data-ng-click="page.search.hashtag(tag.properties.tag, 'report_description')">
          #{{ tag.properties.tag }}
        </a>
      </span>
    </p>
  </div>
  <div class="report--location">
    <p data-ng-if="report.properties.territory">
      <span class="glyphicon glyphicon-map-marker"></span> {{ report.properties.territory.properties.huc_6_name }} Watershed
    </p>
  </div>
</article>
