//
// _button.scss
//
// This stylesheet is written in SASS(1) and contains site wide form
// specifications.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//


//
// Buttons
//
a.button,
.button {
  background-color: $color-green-base;
  border: 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: 0.625em;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.125em;
  padding: 0.75em 4em;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 3px darken($color-green-base, 10%);
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    background-color: $color-green-base;
  }

  &.button-large {
    font-size: 1em;
  }

  em {
    font-style: italic;

    &.fancy {
      font-family: $font-serif;
      font-weight: 300;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
    }
  }

}

a.button:focus,
.button:focus {
  outline: none;
}

a.button:active,
.button:active {
  position:relative;
  top: 1px;
}


.button.button--flex,
a.button.button--flex {
  padding: 0.25em 1.25em;
}

.button.button--info,
a.button.button--info {
  background-color: $color-blue-brighter;
  text-shadow: 0 1px 3px darken($color-blue-brighter, 10%);

  &:hover {
    background-color: darken($color-blue-brighter, 3%);
  }
}

.button.button--danger,
a.button.button--danger {
  background-color: $color-red-base;
  text-shadow: 0 1px 3px darken($color-red-base, 10%);

  &:hover {
    background-color: darken($color-red-base, 3%);
  }
}

.button.button--center,
a.button.button--center {
  display: block;
  margin: 0 auto;
}

.button.button--delete,
a.button.button-delete {
  background-color: transparent;
  box-shadow: none;
  color: rgb(161, 162, 166);
  text-shadow: none;

  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

.button.button--feature,
a.button.button--feature {
  color: rgb(255, 255, 255);
  font-size: 0.75em;
  padding: 0.75em 2.2em;
  text-shadow: none;

  &:hover {
    color: rgb(255, 255, 255);
  }
}

.button.button--hollow,
a.button.button--hollow {
  background-color: transparent;
  border: 1px solid rgb(91,96,93);
  box-shadow: none;
  color: rgb(91,96,93);
  font-size: 0.75em;
  font-weight: 400;
  padding: 0.75em 2.2em 0.5em;
  text-shadow: none;

  &:hover {
    color: rgb(41,46,43);
  }
}

.button.button--space {
  margin: 2em 0;
}

.button.button--link,
a.button.button--link {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: rgb(91,96,93);
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-shadow: none;
  text-transform: none;

  &:hover {
    color: rgb(41,46,43);
    text-decoration: none;
  }
}

.button:first-of-type + .button {
  margin-left: 4px;
}


//
//
//
.button--left {
  float: left;
}

.button--center {
  display: block;
  margin: 0 auto;
}

.button--right {
  float: right;
}

.button--indent {
  margin-left: 10%;
}


//
//
//
.circle--button {
  border: 2px solid #06AADE;
  border-radius: 64px;
  -moz-border-radius: 64px;
  -webkit-border-radius: 64px;
  clear: both;
  display: block;
  font-family: $font-sans;
  font-size: 0.75em;
  font-weight: 600;
  height: 108px;
  margin: 0 auto;
  padding-top: 43px;
  text-align: center;
  text-transform: uppercase;
  width: 108px;

  &:hover {
    text-decoration: none;
  }
}
