//
// _form.scss
//
// This stylesheet is written in SASS(1) and contains site wide form
// specifications.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//


//
// Input fields
//
input.form-control.search-control {
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

  //
  // Input Placeholder Text
  //
  ::-webkit-input-placeholder {
    color: lighten($color-black-lighter, 40%);
    font-family: $font-sans-plain;
    font-size: 1em;
    font-weight: 300;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: lighten($color-black-lighter, 40%);
    font-family: $font-sans-plain;
    font-size: 1em;
    font-weight: 300;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: lighten($color-black-lighter, 40%);
    font-family: $font-sans-plain;
    font-size: 1em;
    font-weight: 300;
  }

  :-ms-input-placeholder {
    color: lighten($color-black-lighter, 40%);
    font-family: $font-sans-plain;
    font-size: 1em;
    font-weight: 300;
  }
