//
// _front.scss
//
// This stylesheet is written in SASS(1) and compiles all of the styles
// we use throughout the site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

.site--wrapper {
  overflow: hidden;
  position: relative;
}

.site--content--front {
  background-color: rgba($color-white-base, 0.75);
}

.site--content--front .page--content {
  margin: 0 auto 1em;
}

.page--front {
  display: block;
  width: 100%;
}

.site--background {
  background-size: cover;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  width: auto;
  z-index: -100;
}

.page--front--slider {
  box-sizing: border-box;
  float: left;
  margin: 0 0.625%;
  overflow: hidden;
  position: relative;
  width: 35%;

  .pull-left{
    position: relative;

  }
}

  .page--front--slider > img {
    width: 100%;
  }

  .page--front--slides {
    height: 440px;
    margin: 0;
    position: relative;
    top: 135px;
    left: 105px;
    width:100%;
  }
    .page--front--slides > img {
      transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -webkit-transition: opacity .5s ease-in-out;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 66%;
    }

    .page--front--slides > img.page--front--slidesVisible {
      transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -webkit-transition: opacity .5s ease-in-out;
      opacity: 1;
    }

.page--front--content {
  box-sizing: border-box;
  float: left;
  margin: 4em 0.625% 0;
  padding: 0 0 0 2em;
  width: 60%
}

  .page--front--content .page--front--introduction {
    color: $color-blue-darker;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0.25em;
  }

  .page--front--content > p {
    font-size: 0.875em;
    margin: 0 0 1.25em;
    max-width: 40.25em;
  }

  .page--front--download {
    padding-top: 1em;
    text-align: center;
  }

.page--front--footer {
  background-color: rgba($color-white-darker, 0.98);
}

//
// Navigation
//
.navigation--front {
  display: inline-block;
  margin: 2em auto;
  text-align: center;
  width: 100%;
}

.navigation--front ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navigation--front li,
.navigation--front span {
  color: rgba($color-gray-dark, 0.75);
  display: inline-block;
  font-family: $font-sans;
  font-size: 0.8125em;
  font-weight: 500;
  letter-spacing: 0.025em;
  list-style-type: none;
  margin: 0 1em 0 0;
  text-transform: uppercase;

  a {
    border: none;
    color: $color-blue-darker;

    &:hover {
      color: $color-blue-darkest;
      font-size: 600;
      text-decoration: none;
    }
  }
}

.page--front--brand--alternative {
  display: none;
}


@media (max-width: 1160px) {

  .site--content {
    padding: 0;
  }

  .site--content--front .page--content {
    margin: 0;
    padding: 0;
  }

  .page--front--content {
    padding: 0 1em;
  }

    .page--front--content .page--front--brand {
      max-width: 256px;
      width: 100%;
    }

    .page-front-slider-container{
      float: right;
    }

    .page--front--brand--alternative {
      display: none;
    }

  .page--front--slider {
    margin: 0;
  }

  .page--front--slider img {
    // float: right;
    width: 412px;
  }

  .page--front--slides {
    left:100px;
  }

  .page--front--slides img {
    float: right;
    width: 280px;
    left:0;
  }

}

// @media (max-width: 900px) {
//   .page--front--slides img{
//     width:270px;
//     left:-0.1em;
//   }
// }
//
// @media (max-width:815px) {
//   .page--front--slides img{
//     left:-1.5em;
//   }
// }
//
// @media (max-width:775px) {
//   .page--front--slides img{
//     left:-2.0em;
//   }
// }
//
// @media (max-width:750px) {
//   .page--front--slides img{
//     left:-2.5em;
//   }
// }
//
// @media (max-width:725px) {
//   .page--front--slides img{
//     left:-3.5em;
//   }
// }
//
// @media (max-width:690px) {
//   .page--front--slides img{
//     left:-4.5em;
//   }
// }
//
// @media (max-width:655px) {
//   .page--front--slides img{
//     left:-5.0em;
//   }
// }
//
// @media (max-width:625px) {
//   .page--front--slides img{
//     left:-5.2em;
//   }
// }
//
// @media (max-width:610px) {
//   .page--front--slides img{
//     left:-5.5em;
//   }
// }
//
// @media (max-width: 585px) {
//   .page--front--slides img{
//     left:-6em;
//   }
// }
//
// @media (max-width: 585px) {
//   .page--front--slides img{
//     left:-6.5em;
//   }
// }
//
// @media (max-width: 550px) {
//   .page--front--slides img{
//     left:-7.4em;
//   }
// }



@media (max-width: 524px) {

  .page--front--slider {
    height: 270px;
    margin: 0;
    text-align: center;

    width: 100%;
  }

  .page--front--slides{
    max-width:285px;
  }

  .page--front--slides img {
    float: none;
    left:0;
  }

  .page--front--content {
    margin: 1em auto;
    padding: 0 1em;
    width: 100%;
  }

  .page--front--content .page--front--brand {
    display: none;
  }

  .page--front--content .page--front--introduction {
    text-align: center;
  }

  .page--front--brand--alternative {
    display: block;
    padding: 1em 0;
    text-align: center;
  }

}
// @media (max-width: 525px) {
//   .page--front--slides{
//     left:38%;
//   }
// }
//
// @media (max-width: 500px) {
//   .page--front--slides{
//     left:36%;
//   }
// }
//
// @media (max-width: 475px) {
//   .page--front--slides{
//     left:33%;
//   }
// }
//
// @media (max-width: 455px) {
//   .page--front--slides{
//     left:30%;
//   }
// }
//
// @media (max-width: 435px) {
//   .page--front--slides{
//     left:27%;
//   }
// }
//
// @media (max-width: 425px) {
//   .page--front--slides{
//     left:25%;
//   }
// }
//
// @media (max-width: 415px) {
//   .page--front--slides{
//     left:24%;
//   }
// }
// @media (max-width: 415px) {
//   .page--front--slides{
//     left:22%;
//   }
// }
//
// @media (max-width: 400px) {
//   .page--front--slides{
//     left:21%;
//   }
// }
//
// @media (max-width: 385px) {
//   .page--front--slides{
//     left:20%;
//   }
// }
//
// @media (max-width: 320px) {
//   .page--front--slides{
//     left:20%;
//   }
// }
