//
// _front.scss
//
// This stylesheet is written in SASS(1) and compiles all of the styles
// we use throughout the site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

.site--wrapper {
  overflow: hidden;
  position: relative;
}

.site--content--front {
  background-color: rgba($color-white-base, 0.75);
}

.site--content--front .page--content {
  margin: 0 auto 1em;
}

.page--front {
  display: block;
  width: 100%;
}

.site--background {
  background-size: cover;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
}

.page--front--slider {
  box-sizing: border-box;
  float: left;
  margin: 0 0.625%;
  overflow: hidden;
  position: relative;
  width: 32.0833333%
}

  .page--front--slider > img {
    width: 100%;
  }

  .page--front--slides {
    height: 440px;
    left: 95px;
    overflow: hidden;
    position: absolute;
    top: 135px;
    width: 248px;
  }
    .page--front--slides > img {
      width: 100%;
    }

.page--front--content {
  box-sizing: border-box;
  float: left;
  margin: 4em 0.625% 0;
  padding: 0 0 0 2em;
  width: 65.4166667%
}

  .page--front--content .page--front--introduction {
    color: $color-blue-darker;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0.25em;
  }

  .page--front--content > p {
    font-size: 0.875em;
    margin: 0 0 1.25em;
    max-width: 40.25em;
  }

  .page--front--download {
    padding-top: 1em;
    text-align: center;
  }

.page--front--footer {
  background-color: rgba($color-white-darker, 0.98);
}

//
// Navigation
//
.navigation--front {
  display: inline-block;
  margin: 2em auto;
  text-align: center;
  width: 100%;
}

.navigation--front ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navigation--front li,
.navigation--front span {
  color: rgba($color-gray-dark, 0.75);
  display: inline-block;
  font-family: $font-sans;
  font-size: 0.8125em;
  font-weight: 500;
  letter-spacing: 0.025em;
  list-style-type: none;
  margin: 0 1em 0 0;
  text-transform: uppercase;

  a {
    border: none;
    color: $color-blue-darker;

    &:hover {
      color: $color-blue-darkest;
      font-size: 600;
      text-decoration: none;
    }
  }
}

.page--front--brand--alternative {
  display: none;
}


@media (max-width: 1160px) {

  .site--content {
    padding: 0;
  }

  .site--content--front .page--content {
    margin: 0;
    padding: 0;
  }

  .page--front--content {
    padding: 0 1em;
  }

    .page--front--content .page--front--brand {
      max-width: 256px;
      width: 100%;
    }

    .page--front--brand--alternative {
      display: none;
    }

  .page--front--slider {
    margin: 0;
  }

  .page--front--slider img {
    float: right;
    width: 412px;
  }

}

@media (max-width: 524px) {

  .page--front--slider {
    height: 270px;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .page--front--slider img {
    float: none;
    margin-left: -40px;
  }

  .page--front--content {
    margin: 1em auto;
    padding: 0 1em;
    width: 100%;
  }

  .page--front--content .page--front--brand {
    display: none;
  }

  .page--front--content .page--front--introduction {
    text-align: center;
  }

  .page--front--brand--alternative {
    display: block;
    padding: 1em 0;
    text-align: center;
  }

}
