.map {
  display: inline-block;
  height: 40em;
  min-height: 40em;
  width: 100%;
}


//
// Geocoder Dropdown
//
.form-geocoder .address {
  position: relative;
  .dropdown {
     background-color: transparent;
     color: $color-white-base;
     left: 0;
     position: absolute;
     top: 39px;
     width: 100%;
     z-index: 9999;

     ul {
         background-color: $color-white-base;
         box-shadow: 0 2px 3px rgba(0,0,0,0.2);
         list-style-type: none;
         padding: 0;
         width: 100%;
     }

     li {
         color: rgb(85,85,85);
         font-size: 16px;
         font-weight: 300;
         list-style-type: none;
         margin: 0;
         padding: 8px 16px;

         a {
           background-color: $color-white-base;
           color: $color-black-lighter;
           cursor: pointer;
           display: block;
           font-family: $font-sans-plain;
           font-size: 1.25em;
           font-weight: 300;
           width: 100%;

           &:hover {
             background-color: $color-white-base;
           }
         }
     }
  }
}
