//
// _map.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

.map {
  display: inline-block;
  min-height: 32em;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
}

.map--form {
  display: inline-block;
  min-height: 32em;
  width: 100%;
}

//
// Markers
//
.marker--icon {}

  .marker--icon--image {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 32px;
    box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.5);
    height: 64px;
    overflow: hidden;
    width: 64px;
  }

  .marker--icon--image.marker--icon--large {
    border-radius: 64px;
    height: 96px;
    width: 96px;
  }

  .marker--icon--image img {
    min-height: 64px;
    min-width: 64px;
    height: auto;
    width: 100%;
  }

    .marker--icon--image.marker--icon--large img {
      min-height: 96px;
      min-width: 96px;
    }

  .marker--icon--point {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -9px;
    margin-left: 21px;
    vertical-align: middle;
    border-top: 19px solid rgb(255,255,255);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
  }

    .marker--icon--image.marker--icon--large + .marker--icon--point {
      margin-left: 37px;
    }


//
// Leaflet Overrides
//
.leaflet-bar,
.leaflet-bar a,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child,
.leaflet-control-layers {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.leaflet-bar {
  box-shadow: none;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: rgba(252,252,252,0.95);
  color: $color-black-bright;
  display: inline-block;
  font-size: 20px;
  font-weight: 100;
  height: 32px;
  line-height: 32px;
  width: 32px;
}

.leaflet-bar a:hover {
  background-color: rgba(252,252,252,1.0);
}

.leaflet-bar a:first-child {
  border: 0;
  margin-right: 2px;
}

.leaflet-control-layers {
  background-color: rgba(252,252,252,0.95);
}

.leaflet-control-layers-toggle {
  display: none;
}



// .leaflet-control-layers-toggle:before {
//   color: $color-black-bright !important;
//   content: ",";
//   font-family: "retina-icon";
//
//   font-size: 26px;
//   top: 5px;
//   left: 4px;
//   position: relative;
//
//   font-style: normal !important;
//   font-weight: normal !important;
//   font-variant: normal !important;
//   text-transform: none !important;
//   speak: none;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

.leaflet-control-layers-list {
  display: block !important;
  padding: 1em;
}

.leaflet-control-layers-expanded {
  padding: 0 !important;
}

.leaflet-control-layers-list .leaflet-control-layers-base label {
  display: inline-block;
  margin-right: 8px;
}

.leaflet-control-layers-list .leaflet-control-layers-base label:last-child {
  margin-right: 0;
}

.leaflet-control-layers-list .leaflet-control-layers-base span {
  font-family: $font-sans;
  position: relative;
  top: 1px;
}


.leaflet-top .leaflet-control {
  margin-top: 114px;
}

.leaflet-control-container {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 0;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  position: relative;
}

.leaflet-control-container-visible {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 1;
}

.leaflet-left .leaflet-control {
  margin-left: 0;
}

.leaflet-right .leaflet-control {
  margin-right: 0;
}


body.map--controls--visible .leaflet-control-container {
  opacity: 1 !important;
}

body.map--controls--visible .leaflet-top .leaflet-control {
  margin-top: 10px;
}

body.map--controls--visible .leaflet-left .leaflet-control {
  margin-left: 10px;
}

body.map--controls--visible .leaflet-right .leaflet-control {
  margin-right: 10px;
}
