//
// _map.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

.map--wrapper {
  display: inline-block;
  height: 320px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.map {
  min-height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.map--hero {
  margin-bottom: -320px;
  min-height: 320px;
  position: absolute;
  top: 0;
  left: -520px;
  width: calc(100% + 520px);
}

.map--wrapper--expanded,
.map--wrapper--expanded .map {
  transition: height .25s ease-in-out;
  -moz-transition: height .25s ease-in-out;
  -webkit-transition: height .25s ease-in-out;
  height: 640px;
}

.map--form {
  display: inline-block;
  height: 320px;
  width: 100%;
}

.map--vignette {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 1;

  background-image: url(/images/background--MapVignette.png);
  background-repeat: repeat-x;
  min-height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.map--vignette--hidden,
.map--feature--hidden {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 0;
  display: none;
}

//
// Markers
//
.marker--icon {}

  .marker--icon--image {
    background-color: $color-gray-base;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 32px;
    box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.5);
    height: 64px;
    overflow: hidden;
    width: 64px;
  }

  .marker--icon--image.marker--icon--large {
    border-radius: 64px;
    height: 96px;
    width: 96px;
  }

  .marker--icon--image img {
    min-height: 64px;
    min-width: 64px;
    height: auto;
    width: 100%;
  }

    .marker--icon--image.marker--icon--large img {
      min-height: 96px;
      min-width: 96px;
    }

  .marker--icon--point {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -9px;
    margin-left: 21px;
    vertical-align: middle;
    border-top: 19px solid rgb(255,255,255);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
  }

    .marker--icon--image.marker--icon--large + .marker--icon--point {
      margin-left: 37px;
    }

    //
    // Marker Icon Enhanced : Resolved
    //
    .marker--icon.marker--icon--resolved {
    }

    .marker--icon.marker--icon--resolved .marker--icon--image {
      background-color: $color-white-base;
      text-align: center;
    }

    .marker--icon.marker--icon--resolved .marker--icon--image.marker--icon--large img {
      margin-top: 11px;
      min-height: 0;
      min-width: 0;
      width: 70%;
    }


//
// Generic Leaflet Overrides
//
.leaflet-bar,
.leaflet-bar a,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child,
.leaflet-control-layers {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.leaflet-bar {
  box-shadow: none;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: rgba(252,252,252,0.95);
  color: $color-black-bright;
  display: inline-block;
  font-size: 20px;
  font-weight: 100;
  height: 32px;
  line-height: 32px;
  width: 32px;
}

.leaflet-bar a:hover {
  background-color: rgba(252,252,252,1.0);
}

.leaflet-bar a:first-child {
  border: 0;
  margin-right: 2px;
}

.leaflet-control-layers {
  background-color: rgba(252,252,252,0.95);
}

.leaflet-control-layers-toggle {
  display: none;
}

.leaflet-control-layers-list {
  display: block !important;
  padding: 1em;
}

.leaflet-control-layers-expanded {
  padding: 0 !important;
}

.leaflet-control-layers-list .leaflet-control-layers-base label {
  display: inline-block;
  margin-right: 8px;
}

.leaflet-control-layers-list .leaflet-control-layers-base label:last-child {
  margin-right: 0;
}

.leaflet-control-layers-list .leaflet-control-layers-base span {
  font-family: $font-sans;
  position: relative;
  top: 1px;
}

.map--hero .leaflet-control-container {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 0;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  position: relative;
}

.map--hero .leaflet-control-container-visible {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 1;
}

.leaflet-top .leaflet-control {
  margin-top: 10px;
}

.leaflet-left .leaflet-control {
  margin-left: 10px;
}

.leaflet-right .leaflet-control {
  margin-right: 10px;
}


body.map--controls--visible .leaflet-control-container {
  opacity: 1 !important;
}

//
// Map Control Positioning
//
.leaflet-left {
    left: 0;
}

  .map--hero .leaflet-left {
    left: 200px;
  }

.leaflet-right {
    right: 0;
}

  .map--hero .leaflet-right {
    right: -220px;
  }
