//
// _navigation.scss
//
// This stylesheet is written in SASS(1) and contains site wide navigation
// specifications.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

.navigation--primary {

}

.navigation--secondary {

}

.navigation--utility {

}

.navigation--contextual {

}



/**
 * Bootstrap .navbar Overrides
 */
.navbar {
  background-color: transparent;
  border: none;
  border-radius: 0;
}


/**
 * Bootstrap .label Overrides
 */
 .label.label--brand a {
  background-color: $color-blue-dark;
  color: white;
  font-weight: 300;
  padding: 4px 8px;
  text-decoration: none;
 }
   .label.label--brand a:hover {
    background-color: $color-blue-base;
   }