//
// _navigation.scss
//
// This stylesheet is written in SASS(1) and contains site wide navigation
// specifications.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

.navigation {
  display: inline-block;
}

.navigation--right {
  float: right;
  padding-top: 1em;
  max-width: 62.5%;
}

.navigation--utility {
  display: inline-block;
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    font-family: $font-sans;
    font-size: 0.8125em;
    font-weight: 500;
    letter-spacing: 0.025em;
    list-style-type: none;
    margin: 0 2em 0 0;
    text-transform: uppercase;

    &:last-child {
      margin: 0;
    }

    a {
      border: none;
      color: $color-blue-base;

      &:hover {
        color: $color-blue-darker;
        text-decoration: none;
      }
    }
  }

}

.site--footer--navigation ul {
  margin: 0;
  padding: 0;
}

.site--footer--navigation li {
  color: $color-white-base;
  display: inline-block;
  list-style-type: none;
}

.site--footer--navigation li a,
.site--footer--navigation li a:active,
.site--footer--navigation li a:link,
.site--footer--navigation li a:visited,
.site--footer--navigation li a:hover {
  color: rgba($color-white-base, 0.35);
  font-size: 0.8125em;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-right: 32px;
  text-transform: uppercase;
}


//
//
//
@media (max-width: 767px) {

  .navigation--right {
      display: none;
  }

}
