//
// _navigation.scss
//
// This stylesheet is written in SASS(1) and contains site wide navigation
// specifications.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

.navigation--primary,
.navigation--utility {
  margin-top: 24px;

  li {
    font-family: "proxima nova";
    font-weight: bold;
    letter-spacing: 0;
    font-size: 0.9375em;

    a {
      color: $color-blue-dark;

      &:hover {
        color: $color-blue-darker;
        text-decoration: none;
      }
    }
  }

}

.site--footer--navigation ul {
  margin: 0;
  padding: 0;
}

.site--footer--navigation li {
  color: $color-white-base;
  display: inline-block;
  list-style-type: none;
}

.site--footer--navigation li a,
.site--footer--navigation li a:active,
.site--footer--navigation li a:link,
.site--footer--navigation li a:visited,
.site--footer--navigation li a:hover {
  color: rgba($color-white-base, 0.35);
  font-size: 0.8125em;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-right: 32px;
  text-transform: uppercase;
}
