.site--profile {
}

.user--profile--image {
  border: 5px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
  margin-top: -128px;
  max-width: 16em;
  width: 100%;
}


.user--profile {
  float: left;
  min-height: 1px;
  position: relative;
  width: 100%;
}
  .user--profile--avatar {
    float: left;
    min-height: 1;
    position: relative;
    text-align: center;
    width: 25%;
  }

.user--activity {
  float: right;
  margin-top: 4em;
  min-height: 1px;
  position: relative;
  width: 100%;
}

.user--profile--bio {
  float: left;
  min-height: 1;
  position: relative;
  width: 75%;
}
