//
// _report.scss
//
// This stylesheet is written in SASS(1) and contains site wide form
// specifications.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

.report {
  background-color: $color-white-base;
  border: 1px solid rgb(232,232,232);
  margin: 0 auto 64px;
  max-width: 642px;
  width: 100%;
}

  .report--author {
    float: left;
    padding: 1em;
    width: 100%;
  }

    .report--author p {
      margin-bottom: 0;
    }

    .report--date {
      color: $color-black-lightest;
      float: right;
      font-size: 0.875em;
      margin: 4px 0 0;
    }
      .report--date span:active,
      .report--date span:focus {
        outline: 0;
      }

    .report--author--avatar {
      border-radiu: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      float: left;
      height: 32px;
      width: 32px;
    }

    .report--author--name {
      color: $color-blue-dark;
      float: left;
      font-size: 0.875em;
      font-weight: bold;
      letter-spacing: 0;
      margin: 4px 0 0 8px;
    }
      .report--author--name:hover {
        color: $color-blue-darker;
        text-decoration: none;
      }

    .report--author--position {}

    .report--author--organization {}

  .report--media {
    max-height: 640px;
    overflow: hidden;
    width: 640px;
  }

  .report--content {
    padding: 1em;
    width: 100%;
  }

  .report--state--open {
    border-top: 3px solid $color-red-base;
  }

  .report--state--closed {
    border-top: 3px solid $color-green-base;
  }
