//
// _report.scss
//
// This stylesheet is written in SASS(1) and contains site wide form
// specifications.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

.report {
  background-color: $color-white-base;
  clear: both;
  margin: 0 auto 64px;
  max-width: 640px;
  width: 100%;
}

  .report.report--featured {
    max-width: 960px;
  }

  .report.report--single {
    float: left;
    min-height: 1;
    position: relative;
    max-width: 100%;
    width: 75%;
  }

  .report--metadata {
    float: left;
    min-height: 1;
    position: relative;
    width: 25%;
  }

  .report--author {
    border-left: 1px solid rgb(232,232,232);
    border-right: 1px solid rgb(232,232,232);
    border-top: 1px solid rgb(232,232,232);
    float: left;
    padding: 1em;
    width: 100%;
  }

    .report--author p {
      margin-bottom: 0;
    }

    .report--date {
      color: $color-black-lightest;
      float: right;
      font-size: 0.875em;
      margin: 4px 0 0;
    }
      .report--date span:active,
      .report--date span:focus {
        outline: 0;
      }

    .report--author--avatar {
      border-radiu: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      float: left;
      height: 32px;
      width: 32px;
    }

    .report--author--name {
      color: $color-blue-dark;
      float: left;
      font-weight: bold;
      letter-spacing: 0;
      margin: 4px 0 0 8px;
    }
      .report--author--name:hover {
        color: $color-blue-darker;
        text-decoration: none;
      }

    .report--author--position {}

    .report--author--organization {}

  a.report--comment--link,
  a.report--comment--link:active,
  a.report--comment--link:link,
  a.report--comment--link:visited {
    color: $color-gray-base;
  }
    a.report--comment--link:hover {
      color: darken($color-gray-base, 5%);
    }

  .report--media {
    border-left: 1px solid rgb(232,232,232);
    border-right: 1px solid rgb(232,232,232);
    max-height: 640px;
    overflow: hidden;
    width: 100%;
  }

  .report--content {
    border-left: 1px solid rgb(232,232,232);
    border-right: 1px solid rgb(232,232,232);
    border-bottom: 1px solid rgb(232,232,232);
    padding: 1em;
    width: 100%;
  }


//
//
//
.report--location {
  background-color: $color-white-dark;
  text-align: right;
}

.report--location p {
  color: $color-gray-light;
  font-size: 0.75em;
  margin: 0;
  padding: 1em;
}


//
// Report Comments
//
.report--comments {
  background-color: $color-white-dark;
  padding-top: 4em;
}
