//
// _search.scss
//
// This stylesheet is written in SASS(1) and compiles all of the styles
// we use throughout the site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

h1.search--title {
  text-align: center;
}
  .search--title--term {
    font-size: 0.75em;
    font-weight: 300;
    font-style: italic;
  }

.search--toolbar {
  background-color: $color-white-bright;
  float: left;
  margin: 32px 0;
  padding: 0.5em 2em;
  width: 100%;
}

.search--toolbar ul {
  list-style: none;
  padding: 4px 0 0 16px;
}

.search--toolbar li {
  display: inline-block;
  list-style-type: none;
}

.search--toolbar li a,
.search--toolbar li a:active,
.search--toolbar li a:link,
.search--toolbar li a:focus,
.search--toolbar li a:visited {
  background-color: transparent;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  font-size: 0.8125em;
  outline: 0;
  padding: 8px 16px;
}

.search--toolbar li a.active {
  background-color: $color-white-base;
}

.search--toolbar a:hover {
  color: $color-blue-darker;
  text-decoration: none;
}

.search--form {
  float: left;
  margin: 0;
}
  .search--form .form--field {
    padding: 1em 0;
  }
  .search--form .form--element {
    margin-bottom: 0;
  }

.search--keyword {
  float: right;
  max-width: 32%;
}

.search--button--clear,
.search--button--clear:active,
.search--button--clear:link,
.search--button--clear:focus,
.search--button--clear:visited {
  background-color: transparent;
  color: $color-gray-base;
  font-size: 0.8125em;
  margin: 6px 16px 0 6px;
  text-decoration: none;
}

.search--button--clear:hover {
  text-decoration: underline;
}



//
// Download Links
//
.search--download,
p.search--download {
  display: inline-block;
  font-size: 0.8125em;
  text-align: right;

  a,
  a:active,
  a:link,
  a:visited {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
