//
// _site.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

body {
  background-color: rgba(242,242,242,1);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site--header {
  padding-bottom: 16px;
  padding-top: 16px;
}

.site--search {
  margin-top: 32px;
}

.site--content {

}

.site--footer {

}

  .site--footer--copyright {
    background-color: darken($color-blue-darker, 10%);
  }
