//
// _site.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

body {
  background-color: $color-white-dark;
}



.element-hidden {
  display: none;
}

.site--header {
  background-color: $color-white-base;
  float: left;
  width: 100%;

  .container {
    padding: 1.5em 0;
    margin: 0 auto;
  }
}

.site--header--brand {
  display: inline-block;
  max-width: 25%;
}

.site--search,
.site--search.form {
  display: inline-block;
  margin: 0 0 0 12.5%;
  max-width: 25%;
}

.site--content {

}

.site--footer {
  clear: both;
}

  .site--footer--copyright {
    background-color: darken($color-blue-darker, 10%);
  }


  .container {
    display: block;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }
