//
// _site.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

body {
  background-color: darken($color-blue-darker, 10%);
}

.site--header {
  background-color: rgba(242,242,242,1);
  padding-bottom: 16px;
  padding-top: 16px;
}

.site--search {
  margin-top: 32px;
}

.site--content {
  background-color: rgba(242,242,242,1);

}

.site--footer {
  background-color: rgba(242,242,242,1);
}

  .site--footer--navigation {
    background-color: darken($color-blue-darker, 3%);
  }

  .site--footer--copyright {
    background-color: darken($color-blue-darker, 10%);
  }
