//
// _site.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

body {
  background-color: rgba(238,238,238,1);
}

.site--header {}

.site--content {
  margin-top: 32px;
}

.site--footer {}