.features {
  margin: -64px 0 auto;
  position: relative;
  z-index: 1;
}

.features--container {
  width: 100%;
}

.features--slider--previous,
.features--slider--next {
  display: inline-block;
  vertical-align: top;
  width: 8%;
}
