//
// _variables.scss
//
// This stylesheet is written in SASS(1) and contains variables that apply to
// the site as a whole. This makes us more effective in retaining a consistency
// throughout the entire site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//


//
// Color Variables
//
$color-black-base: rgb(36,32,28);
$color-black-light: rgb(56,52,48);
$color-black-lighter: rgb(96,92,88);
$color-black-lightest: rgb(126,122,118);
$color-black-bright: rgb(146,142,138);

$color-gray-dark: rgb(71,72,74);
$color-gray-base: rgb(186, 182, 178);
$color-gray-light: rgb(202, 202, 202);

$color-white-bright: rgb(255,255,255);
$color-white-base: rgb(252,252,252);
$color-white-dark: rgb(242,242,242);
$color-white-darker: rgb(232,232,232);
$color-white-darkest: rgb(225,225,225);

$color-blue-darkest: rgb(0,123,154);
$color-blue-darker: rgb(0, 145,179);
$color-blue-dark: rgb(6,170,222);
$color-blue-base: rgb(11,159,196);
$color-blue-bright: rgb(0,179,220);
$color-blue-brighter: rgb(20,171,224);

$color-green-dark: rgb(46,114,42);
$color-green-base: rgb(98,191,27);

// $color-green-base: rgb(56,184,124);

$color-red-base: rgb(240,71,71);


//
// Typography Variables
//
$font-serif: "Times New Roman", "Times", serif;;
$font-sans: "proxima-nova", "helvetica neue", "helvetica", arial, sans-serif;
$font-sans-plain: "helvetica neue", "helvetica", arial, sans-serif;
