<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="site--content site--content--submit">
  <div class="page--content page--content--generic">

    <h1>About Water Reporter</h1>

    <p class="text-center">
      Water Reporter is the fastest growing community dedicated to documenting
      human interaction with our world’s rivers lakes and streams. Our platform
      compiles your snapshots with those of other like-minded outdoor river and
      environmental enthusiasts plus, you can report pollution issues to an
      on-demand network of stewards dedicated to protecting and solving local
      water quality issues.
    </p>

    <figure class="media--image">
      <a href="/reports/1743">
        <img src="/images/content--about--cape.jpg" alt="" title="" width="100%">
      </a>
      <figcaption>
        <a href="/reports/1743">
          Photograph taken by Brendan McIntyre for Report #1743
        </a>
      </figcaption>
    </figure>

    <h2 class="text-center">
      Get started is easy
    </h2>

    <p>
      Signup for an account through the mobile app or website. Use our app for
      Android or iOS to take a picture, add comments, and share. We’ll keep
      track of your adventures, add them to the community map, and allow others
      to explore the world’s lakes, rivers, and oceans as they happen.
    </p>

    <figure class="media--image">
      <a href="/reports/1155">
        <img src="/images/content--about--boat.jpg" alt="" title="" width="100%">
      </a>
      <figcaption>
        <a href="/reports/1155">
          Photograph taken by Jamie Brunkow for Report #1155
        </a>
      </figcaption>
    </figure>

    <h2 class="text-center">
      Report and Resolve Water Pollution
    </h2>

    <p>
      Noticed a trash dump, spill, or something that just doesn’t look right in
      your waterway? Post it and our inspirational community of stewards will
      help you get it fixed.
    </p>

    <p>
      We’ll automatically connect you and your post with restoration professionals
      working in your watershed. Allow you to easily view and comment on
      progress toward addressing the water quality problem. Help you keep track
      and share the issue’s you’ve worked with others to resolve.
    </p>

    <p>
      With Water Reporter, anyone can be the catalyst that sparks a grassroots
      stream cleanup or a new restoration project that improves the health of a
      local waterway.
    </p>

    <figure class="media--image">
      <a href="/reports/1155">
        <img src="/images/content--about--discharge.jpg" alt="" title="" width="100%">
      </a>
      <figcaption>
        <a href="/reports/1155">
          Photograph taken by Jamie Brunkow for Report #1155
        </a>
      </figcaption>
    </figure>

    <h2 class="text-center">
      Always Evolving, Constantly Improving
    </h2>

    <p>
      We are always working to find new and more efficient ways to map
      experiences on the water and expedite water quality remediation. Here is
      are some of the latest functionality we’ve recently completed and will be
      releasing in the near future.
    </p>

    <table class="table table--features">
      <thead>
        <tr>
          <th>
            Feature
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="title">Affiliate with Organization</span><br />
            <span class="category">(Web + Mobile)</span>
          </td>
          <td>
            <span class="status status--development">In Development</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="title">Marking reports as remediated</span><br />
            <span class="category">(Mobile)</span>
          </td>
          <td>
            <span class="status status--development">In Development</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="title">Push Notifications</span>
          </td>
          <td>
            <span class="status status--development">In Development</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="title">Search and Export</span><br />
            <span class="category">(Admin)</span>
          </td>
          <td>
            <span class="status status--complete">Complete</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="title">Marking reports as remediated</span><br />
            <span class="category">(Web)</span>
          </td>
          <td>
            <span class="status status--complete">Complete</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="title">Commenting on reports</span><br />
            <span class="category">(Web)</span>
          </td>
          <td>
            <span class="status status--complete">Complete</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="title">Report Submission</span><br />
            <span class="category">(Web)</span>
          </td>
          <td>
            <span class="status status--complete">Complete</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="title">Personalized Profile Page</span>
          </td>
          <td>
            <span class="status status--complete">Complete</span>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="text-center">
      Acting Locally, Expanding Globally
    </h2>

    <p>
      Water Reporter users benefit from an ever expanding network of stewards
      that actively field and respond to community pollution reports with the
      goal to enhance local water quality. If you’d like to join our network and
      help to address the many threats facing water quality, please get in touch.
    </p>

  </div>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
