<video class="site--background" autoplay loop poster="/images/WR_Shot1.mp4">
    <source src="/images/WR_Shot1.mp4" type="video/mp4">
    <source src="/images/WR_Shot1.webm" type="video/webm">
</video>

<main class="site--content site--content--front">
  <div class="page--content page--content--generic page--content--transparent">

    <div class="page--front">
        <div class="page--front--brand--alternative">
          <img class="page--front--brand" src="/images/logo-WaterReporter-SideBySide.svg" alt="" title="" width="256" />
        </div>

        <div class="page--front--slider">
          <img src="/images/example--Phones.png" alt="" title="" width="" class="pull-left" />
        </div>

        <div class="page--front--content">
          <p>
            <img class="page--front--brand" src="/images/logo-WaterReporter-SideBySide.svg" alt="" title="" width="256" />
          </p>

          <p class="page--front--introduction">
            Experience, Capture, Share
          </p>

          <p>
            Water Reporter is the easiest way to document and map your experiences on
            the world's waterways. Use our app for iPhone or Android snap a picture
            while paddling (surfing, fishing, SUPing, canoeing, rafting, scouting
            wildlife, stream surveying, living the dream, observing pollution),
            describe your experience with a few words or hashtags, and share. We’ll
            keep track of your adventures, add them to the community map, and allow
            others to explore the world’s lakes, rivers, and oceans as they happen.
          </p>

          <p>
            Noticed a trash dump, fish kill, or something that just doesn’t look right
            in your waterway? Document it with our app and Water Reporter will connect
            you and your issue to our network of watershed professionals to help
            resolve the problem. With a free account, you can comment and view the
            actions taken by others to address your water quality threat. Water
            Reporter allows anyone to be the catalyst that sparks a grassroots stream
            cleanup or a new restoration project that improves the health of a local
            waterway.
          </p>

          <p class="page--front--download">
            <a href="https://itunes.apple.com/us/app/the-water-reporter/id668005311?mt=8" target="_blank">
              <img src="/images/logo--ItunesStore.png" alt="Download on the Apple iTunes App Store" width="166" />
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.viableindustries.waterreporter" target="_blank">
              <img src="/images/logo--GooglePlay.png" alt="Download on the Google Play Store" width="140" />
            </a>
          </p>
        </div>
    </div>

  </div>
</main>

<footer class="site--footer page--front--footer">
  <nav class="navigation--front">
    <ul>
      <li>
        <a href="/about">
          About
        </a>
      </li>
      <li>
        <a href="/explore">
          Explore
        </a>
      </li>
      <li>
        <a href="/search">
          Search
        </a>
      </li>
      <li>
        <a href="/user/login">
          Log In
        </a>
      </li>
      <li>
        <a href="/user/register">
          Sign Up
        </a>
      </li>
      <li>
        <a href="/terms">
          Terms
        </a>
      </li>
    </ul>
    <span>
      &copy; 2015 Water Reporter, All rights reserved.
    </span>
  </nav>
</footer>
