<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="site--content site--content--submit">
  <div class="page--content page--content--form">

    <h1>Experience, Capture, Share</h1>

    <p>
      Water Reporter is the easiest way to document and map your experiences on
      the world's waterways. Use our app for iPhone or Android snap a picture
      while paddling (surfing, fishing, SUPing, canoeing, rafting, scouting
      wildlife, stream surveying, living the dream, observing pollution),
      describe your experience with a few words or hashtags, and share. We’ll
      keep track of your adventures, add them to the community map, and allow
      others to explore the world’s lakes, rivers, and oceans as they happen.
    </p>

    <p>
      Noticed a trash dump, fish kill, or something that just doesn’t look right
      in your waterway? Document it with our app and Water Reporter will connect
      you and your issue to our network of watershed professionals to help
      resolve the problem. With a free account, you can comment and view the
      actions taken by others to address your water quality threat. Water
      Reporter allows anyone to be the catalyst that sparks a grassroots stream
      cleanup or a new restoration project that improves the health of a local
      waterway.
    </p>

  </div>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
