<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<div class="container">

  <div class="row">
    <div class="column-16 align-center">
      <h1 class="align-center" data-ng-show="security.login.visible && !security.register.visible">
        <strong>Login to WaterReporter</strong>
      </h1>
      <h1 class="align-center" data-ng-show="!security.login.visible && security.register.visible">
        <strong>Create a WaterReporter Citizen Account</strong>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="column-16">
      <div data-ng-if="security.login.errors" class="notifications">
        <div class="notify notify-error notify-dismissable" role="alert">
          {{ security.login.errors.email[0] }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="column-5"></div>

    <div class="column-6 block" data-ng-show="security.login.visible && !security.register.visible">
    
      <form role="form" class="form" method="POST" data-ng-submit="security.login.submit()">
        <div class="form-group">
          <label for="email" class="control-label">Email Address</label>
          <input type="text" class="form-control" type="text" id="email" name="email" data-ng-model="security.login.email" autofocus />
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <input type="password" class="form-control" type="text" id="password" name="password" data-ng-model="security.login.password" />
        </div>
        <input type="submit" class="button button-submit pull-left" id="submitUserLogin" name="submitUserLogin" value="Login" data-ng-if="!security.login.processing" />
        <p class="pull-right help-text">
          <a href="#">Forgot your password?</a>
        </p>
        <div class="throbber throbber-small" data-ng-if="security.login.processing"></div>
      </form>
    </div>

    <div class="column-6 block" data-ng-show="security.register.visible && !security.login.visible">
      <form role="form" class="form" method="POST" data-ng-submit="security.register.submit()">
        <div class="form-group">
          <label for="email" class="control-label">Email Address</label>
          <input type="text" class="form-control" type="text" id="email" name="email" data-ng-model="security.register.email" />
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Choose a password</label>
          <input type="password" class="form-control" type="text" id="password" name="password" data-ng-model="security.register.password" />
        </div>
        <input type="submit" class="button button-submit pull-left" id="submitUserRegister" name="submitUserRegister" value="Create Account" data-ng-if="!security.register.processing" />

        <div class="throbber throbber-small" data-ng-if="security.register.processing"></div>
        <p data-ng-if="security.register.processing">Creating your Snapology.com account</p>
      </form>
    </div>

  </div>

  <div class="row">
    <div class="column-16 align-center" data-ng-show="!security.register.visible && security.login.visible">
      <p>
        Not a member? <a data-ng-click="security.register.visible =! security.register.visible; security.login.visible =! security.login.visible">
          Create a WaterReporter Citizen account
        </a>
      </p>
    </div>
    <div class="column-16 align-center" data-ng-show="security.register.visible && !security.login.visible">
      <p>
        Already have an account? <a data-ng-click="security.register.visible =! security.register.visible; security.login.visible =! security.login.visible">
          Log in now
        </a>
      </p>
    </div>
  </div>
</div>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
