<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<form class="site--search site--search--content" role="form" id="form--search--reports" name="form--search--reports">
  <div class="form-control">
    <input type="text" id="form--search--reportDescription" name="form--search--reportDescription" data-ng-model="activity.search.params.report_description" data-ng-change="activity.search.execute()" autofocus="autofocus" />
  </div>
  <a data-ng-click="activity.search.clear()">Clear Search</a>
</form>

<main class="site--content site--content--map">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <leaflet class="map" markers="activity.map.markers" defaults="activity.map.defaults" layers="activity.map.layers" center="activity.map.center" geojson="activity.map.geojson" geojson-nested="true"></leaflet>

        <pre ng-bind="activity.map.geojson | json"></pre>
      </div>
    </div>
  </div>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
