<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<div class="container">
  <form class="site--search site--search--content form" role="form" id="form--search--reports" name="form--search--reports" data-ng-submit="activity.search.execute()">
    <div class="form-group">
      <label for="form--search--reportDescription">Search</label>
      <input type="text" class="form-control" id="form--search--reportDescription" name="form--search--reportDescription" data-ng-model="activity.search.params.report_description" data-ng-change="activity.search.execute()" autofocus="autofocus" />
    </div>
    <button data-ng-click="activity.search.clear()" class="btn btn-default">Clear Search</button>
  </form>
</div>

<main class="site--content site--content--map">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <leaflet class="map" markers="activity.map.markers" defaults="activity.map.defaults" layers="activity.map.layers" center="activity.map.center" geojson="activity.map.geojson" bounds="activity.map.bounds" geojson-nested="true"></leaflet>

        <footer class="features-footer">
          <nav class="pager" data-ng-if="activity.search.data.properties.page === 1 && activity.search.data.properties.total_pages === 1">
            <!-- If your on Page 1 and there's less than or equal to 10 results total -->
            <span class="page">
              Showing all {{ activity.search.data.properties.num_results }} reports
            </span>
          </nav>
          <nav class="pager" data-ng-if="activity.search.data.properties.total_pages > 1">
            <a data-ng-show="activity.search.data.properties.total_pages >= activity.search.data.properties.page && activity.search.data.properties.page !== 1" href="javascript:void(0);" data-ng-click="activity.search.paginate(activity.search.data.properties.page-1)" class="previous">
              Previous
            </a>
            <span data-ng-show="!activity.paginationLabel" data-ng-click="activity.paginationLabel =! activity.paginationLabel" class="page">Page {{ activity.search.data.properties.page }} of {{ activity.search.data.properties.total_pages }}</span>
            <span data-ng-show="activity.paginationLabel" data-ng-click="activity.paginationLabel =! activity.paginationLabel" class="page">
              <span data-ng-if="activity.search.data.properties.page === 1 && activity.search.data.properties.total_pages > 1">
                Showing 1 - 10 of {{ activity.search.data.properties.num_results | number:0 }} reports
              </span>

              <span data-ng-if="activity.search.data.properties.page > 1 && activity.search.data.properties.page !== activity.search.data.properties.total_pages">
                Showing <span data-ng-bind="((activity.search.data.properties.page-1)*10+1)"></span> - <span data-ng-bind="activity.search.data.properties.page*10"></span> of {{ activity.search.data.properties.num_results | number:0 }} reports
              </span>

              <span data-ng-if="activity.search.data.properties.page > 1 && activity.search.data.properties.page === activity.search.data.properties.total_pages">
                Showing <span data-ng-bind="((activity.search.data.properties.page-1)*10+1)"></span> - {{ activity.search.data.properties.num_results }} of {{ activity.search.data.properties.num_results | number:0 }} reports
              </span>
            </span>
            <a data-ng-show="activity.search.data.properties.total_pages !== activity.search.data.properties.page" href="javascript:void(0);" data-ng-click="activity.search.paginate(activity.search.data.properties.page+1)" class="next">
              Next
            </a>
          </nav>
        </footer>

      </div>
    </div>
  </div>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
