<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<div class="container">
  <form class="site--search site--search--content form" role="form" id="form--search--reports" name="form--search--reports" data-ng-submit="activity.search.execute()">
    <div class="form-group">
      <label for="form--search--reportDescription">Search</label>
      <input type="text" class="form-control" id="form--search--reportDescription" name="form--search--reportDescription" data-ng-model="activity.search.params.report_description" data-ng-change="activity.search.execute()" autofocus="autofocus" />
    </div>
    <button type="submit" class="btn btn-success">Search</button>
    <button data-ng-click="activity.search.clear()" class="btn btn-default">Clear Search</button>
  </form>
</div>

<main class="site--content site--content--map">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <leaflet class="map" markers="activity.map.markers" defaults="activity.map.defaults" layers="activity.map.layers" center="activity.map.center" geojson="activity.map.geojson" bounds="activity.map.bounds" geojson-nested="true"></leaflet>

        <pre ng-bind="activity.map.bounds | json"></pre>
        <pre ng-bind="activity.map.geojson | json"></pre>
      </div>
    </div>
  </div>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
