<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="site--content site--content--submit">
  <div class="container">

    <form class="site--report--submit form" role="form"
          id="form--reports--submit" name="form--reports--submit"
          data-ng-submit="submit.save()">


      <button type="submit" class="button button-submit"
              id="report--submit" name="report--submit">
        Send Report
      </button>

    </form>

  </div>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
