<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<div data-ng-include="'/modules/components/community/communityFeatured--view.html'"></div>

<main class="site--content site--content--activity container">

  <!-- <div data-ng-include="'/modules/components/community/communitySearch--view.html'"></div> -->

  <div data-ng-include="'/modules/components/community/communityRecent--view.html'"></div>

</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
