<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<div id="map--wrapper" class="map--wrapper">
  <div class="throbber" data-ng-if="!page.map.geojson.reports.data.features.length && !page.search.data.features.length"></div>
    <leaflet class="map" markers="page.map.markers" defaults="page.map.defaults" layers="page.map.layers" center="page.map.center" bounds="page.map.bounds"></leaflet>
  </div>
</div>

<main class="site--content site--content--activity">

  <div class="page--content page--content--transparent page--content--overlay">
    <div class="profile" id="profile--{{ page.data.id }}">
      <div class="profile--avatar">
        <img class="profile--image img-circle"
             data-ng-src="{{ page.data.properties.images[0].properties.thumbnail }}"
             data-ng-if="page.data.properties.images[0].properties.thumbnail" />
        <img class="profile--image profile--empty img-circle"
             data-ng-src="/images/badget--MissingUser.png"
             data-ng-if="!page.data.properties.images[0].properties.thumbnail" />
      </div>
      <div class="profile--bio">
        <h1>
          {{ page.data.properties.first_name }} <strong>{{ page.data.properties.last_name }}</strong>
        </h1>
        <p>
          {{ page.data.properties.title }} <span data-ng-if="page.data.properties.title && page.data.properties.organization[0].properties.name">at</span>

          {{ page.data.properties.organization_name }}
        </p>
        <p>
          {{ page.data.properties.description }}
        </p>
        <p>
          <a data-ng-if="$root.user.id && page.permissions.isCurrentUser" href="/profiles/{{ page.data.id }}/edit" class="button button--link">
            Edit Profile
          </a>
        </p>
      </div>
      <div data-ng-if="page.organizations.features.length"
           class="profile--members">
        <h3>Organizations ({{ page.organizations.properties.num_results }})</h3>
        <ul class="profile--members--list">
          <li data-ng-repeat="profile in page.organizations.features">
            <a href="/organizations/{{ profile.id }}" target="">
               <img class="profile--image img-circle"
                    data-ng-src="{{ profile.properties.picture }}"
                    data-ng-if="profile.properties.picture" />
               <img class="profile--image profile--empty img-circle"
                    data-ng-src="/images/badget--MissingUser.png"
                    data-ng-if="!profile.properties.picture" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="user--activity" data-ng-if="page.search.data.features.length > 0">
      <ul>
        <li data-ng-if="$root.user.id && page.permissions.isCurrentUser && page.permissions.isAdmin">
          <a href="/profiles/{{ page.data.id }}/reports">
            <span data-ng-if="page.reports.properties.num_results">
              {{ page.reports.properties.num_results | number:0 }}
            </span>
            <span data-ng-if="!page.reports.properties.num_results">
              0
            </span>
            Reports
          </a>
        </li>
        <li data-ng-if="page.search.data.features.length || page.search.data.features.length === 0">
          <span class="active">
            {{ page.search.data.properties.num_results | number:0 }} Submissions
          </span>
        </li>
        <li data-ng-if="page.closures.properties.num_results && page.closures.properties.num_results !== 0">
          <a href="/profiles/{{ page.data.id }}/actions">
            {{ page.closures.properties.num_results | number:0 }} Actions
          </a>
        </li>
      </ul>
      <div class="row" data-ng-if="page.search.data.features.length">
           <div data-ng-repeat="report in page.search.data.features"
                data-ng-include="'/modules/shared/views/report--view.html'"
                >
           </div>
      </div>
      <div>
        <a data-ng-click="page.search.more(true)" class="circle--button"
           data-ng-if="!page.search.status.loading && page.search.data.features.length < page.search.data.properties.num_results">
            Load More
        </a>
        <span data-ng-if="page.search.status.loading" class="throbber"></span>
      </div>
    </div>

    <div class="user--welcome" data-ng-if="$root.user.id && page.permissions.isCurrentUser && page.search.data.features.length === 0">

      <div class="text-center welcome--banner">
        <img src="/images/welcome--banner--004.svg" alt="" title="" width="192" height="192" />
      </div>

      <section>

        <h1 class="text-center">
          Welcome to Water Reporter!
        </h1>

        <br />

        <p>
          Thanks for joining our ever-growing community. Please take a few minutes to review some information that will help you get up and running.
        </p>

      </section>

      <section>

        <div class="app--images">

          <img src="/images/iphone--5S.svg" alt="" title="" width="255" height="500" style="position: relative; display: inline-block; margin: 0;" />

          <img src="/images/nexus--5.svg" alt="" title="" width="256" height="500" style="position: relative; display: inline-block; margin: 0 0 0 -100px;" />

        </div>

        <div class="app--download">

          <h2 class="text-center">
            Download the mobile app
          </h2>

          <br />

          <p class="text-center">
            Install Water Reporter on your iPhone or Android device and bring it outdoors! Log in with your email and password so you can share reports on your favorite lake, river, or ocean.
          </p>

          <p class="text-center app--links">
            <a href="https://itunes.apple.com/us/app/the-water-reporter/id668005311?mt=8" target="_blank">
              <img src="/images/logo--ItunesStore.png" alt="Download on the Apple iTunes App Store" width="166" />
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.viableindustries.waterreporter" target="_blank">
              <img src="/images/logo--GooglePlay.png" alt="Download on the Google Play Store" width="140" />
            </a>
          </p>

        </div>

      </section>

      <section>

        <h2 class="text-center">
          Submit your first report!
        </h2>

        <br />

        <p>
           Ready? Fire up the app or use our new online submission <a href="/submit">form</a> to document your latest river adventure or call out pollution in a local stream. Add a photo and description with hashtags (e.g. <a href="/search/tag/%23Acadia." target="_blank">#Acadia</a>, <a href="/search/tag/%23WMNF" target="_blank">#WMNF</a>) that you can use later to easily find and share reports.
        </p>

        <br />

        <p class="text-center">
          <a class="button button--info button--feature" href="/submit">
            Submit a Report
          </a>
        </p>

      </section>

      <section>

        <h2 class="text-center">
          Spark a conversation
        </h2>

        <br />

        <p>
           Many of our members use Water Reporter to track pollution threats and connect with professionals who can tackle those problems. Raise awareness about issues that concern you by continuing the discussion in the comment thread on any report. Our network of conservation experts will get on the case and let you know when they find a solution.
        </p>

        <br />

        <p class="text-center">
          <a class="button button--info button--feature" href="/reports/2154" target="_blank">
            See it in action
          </a>
        </p>

      </section>

      <section>

        <h2 class="text-center">
          Still have questions?
        </h2>

        <br />

        <p>
          Wondering how to use your Water Reporter account for maximum impact? <a href="http://help.waterreporter.org/getting-started/" target="_blank">Check out our help section.</a> If the answer you seek is missing, email us at <a href="mailto:support@waterreporter.org">support@waterreporter.org</a>.
        </p>

        <br />

        <p class="text-center">
          <a class="button button--info button--feature" href="http://help.waterreporter.org/getting-started/" target="_blank">
            Read the docs
          </a>
        </p>

      </section>

    </div>

  </div>

</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
