<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<div id="map--wrapper" class="map--wrapper">
  <div class="throbber" data-ng-if="!page.map.geojson.reports.data.features.length && !page.search.data.features.length"></div>
    <leaflet class="map" markers="page.map.markers" defaults="page.map.defaults" layers="page.map.layers" center="page.map.center" bounds="page.map.bounds"></leaflet>
  </div>
</div>

<main class="site--content site--profile">

  <div class="container">
    <div class="row">
      <div class="user--profile">
        <div id="user--profile--{{ page.data.id }}">
          <p class="text-center">
            <img class="user--profile--image img-circle" data-ng-src="{{ page.data.properties.images[0].properties.thumbnail }}" /><br /><br />
            <strong>{{ page.data.properties.first_name }} {{ page.data.properties.last_name }}</strong><br />
            {{ page.data.properties.title }} <span data-ng-if="page.data.properties.title && page.data.properties.organization[0].properties.name">at</span><br data-ng-if="page.data.properties.title && page.data.properties.organization[0].properties.name" />

            {{ page.data.properties.organization[0].properties.name }}
          </p>
          <p class="text-center" data-ng-if="page.permissions.isProfile">
            <a href="/profiles/{{ page.data.id }}/edit" class="button">
              Edit Profile
            </a>
          </p>
          <p class="text-center">
            <a data-ng-if="!page.visible.reports && $root.isCurrentUser && $root.isAdmin" data-ng-click="page.visible.reports = true; page.visible.closures = false; page.visible.submissions = false;">
              {{ page.reports.properties.num_results | number:0 }} Reports
            </a>
            <span data-ng-if="page.visible.reports && $root.isCurrentUser && $root.isAdmin">
              {{ page.reports.properties.num_results | number:0 }} Reports
            </span><br data-ng-if="$root.isCurrentUser" />
            <a data-ng-if="!page.visible.submissions" data-ng-click="page.visible.submissions = true; page.visible.closures = false; page.visible.reports = false;">
              {{ page.submissions.properties.num_results | number:0 }} Submissions
            </a>
            <span data-ng-if="page.visible.submissions">
              {{ page.submissions.properties.num_results | number:0 }} Submissions
            </span><br />
            <a data-ng-if="!page.visible.closures && page.closures.features.length" data-ng-click="page.visible.closures = true; page.visible.reports = false; page.visible.submissions = false;">
              {{ page.closures.properties.num_results | number:0 }} Actions
            </a>
            <span data-ng-if="page.visible.closures && page.closures.features.length">
              {{ page.closures.properties.num_results | number:0 }} Actions
            </span>
          </p>
          <p>
            {{ page.data.properties.description }}
          </p>
        </div>
      </div>

      <div class="user--activity">
        <div data-ng-show="page.visible.reports && !page.visible.submissions && !page.visible.closures" class="row"
             data-ng-if="page.reports.features.length"
             data-ng-repeat="report in page.reports.features">
             <div data-ng-include="'/modules/shared/views/report--view.html'"></div>
        </div>

        <div data-ng-show="page.visible.submissions && !page.visible.reports && !page.visible.closures" class="row"
             data-ng-if="page.submissions.features.length"
             data-ng-repeat="report in page.submissions.features">
             <div data-ng-include="'/modules/shared/views/report--view.html'"></div>
        </div>

        <div data-ng-show="!page.visible.reports && page.visible.closures" class="row"
             data-ng-if="page.closures.features.length"
             data-ng-repeat="report in page.closures.features">
             <div data-ng-include="'/modules/shared/views/report--view.html'"></div>
        </div>

        <footer class="features-footer">
          <nav class="pager" data-ng-if="page.reports.properties.page === 1 && page.reports.properties.total_pages === 1">
            <!-- If your on Page 1 and there's less than or equal to 10 results total -->
            <span class="page">
              Showing all {{ page.reports.properties.num_results }} reports
            </span>
          </nav>
          <nav class="pager" data-ng-if="page.reports.properties.total_pages > 1">
            <a data-ng-show="page.reports.properties.total_pages >= page.reports.properties.page && page.reports.properties.page !== 1" href="javascript:void(0);" data-ng-click="activity.search.paginate(page.reports.properties.page-1)" class="previous">
              Previous
            </a>
            <span data-ng-show="!activity.paginationLabel" data-ng-click="activity.paginationLabel =! activity.paginationLabel" class="page">Page {{ page.reports.properties.page }} of {{ page.reports.properties.total_pages }}</span>
            <span data-ng-show="activity.paginationLabel" data-ng-click="activity.paginationLabel =! activity.paginationLabel" class="page">
              <span data-ng-if="page.reports.properties.page === 1 && page.reports.properties.total_pages > 1">
                Showing 1 - 10 of {{ page.reports.properties.num_results | number:0 }} reports
              </span>

              <span data-ng-if="page.reports.properties.page > 1 && page.reports.properties.page !== page.reports.properties.total_pages">
                Showing <span data-ng-bind="((page.reports.properties.page-1)*10+1)"></span> - <span data-ng-bind="page.reports.properties.page*10"></span> of {{ page.reports.properties.num_results | number:0 }} reports
              </span>

              <span data-ng-if="page.reports.properties.page > 1 && page.reports.properties.page === page.reports.properties.total_pages">
                Showing <span data-ng-bind="((page.reports.properties.page-1)*10+1)"></span> - {{ page.reports.properties.num_results }} of {{ page.reports.properties.num_results | number:0 }} reports
              </span>
            </span>
            <a data-ng-show="page.reports.properties.total_pages !== page.reports.properties.page" href="javascript:void(0);" data-ng-click="activity.search.paginate(page.reports.properties.page+1)" class="next">
              Next
            </a>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
