<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="site--content site--content--userProfileEdit">
  <div class="page--content page--content--form">

    <h1>Your Personal Information</h1>

    <p>
      Below are your personal account details. These control how you log in,
      let us know how best to contact you, and keep your reports, comments,
      and images in organized.
    </p>

    <div class="status" data-ng-if="!page.profile.id">
      <div class="throbber"></div>
    </div>

    <div data-ng-if="page.status.saving.action"
         style="text-align: center;">
      <div class="throbber"></div>
    </div>

    <form class="form site--profile--edit" role="form"
          id="site--profile--edit" name="site--profile--edit"
          data-ng-submit="page.save()"
          data-ng-if="!page.status.saving.action" novalidate>


      <div class="form--row" data-ng-if="page.profile.id">
        <div class="form--label">
          <p>
            Your Name
          </p>
        </div>
        <div class="form--field">
          <input type="text" class="form--control form--control--half"
                 id="first_name" name="first_name" placeholder="First Name"
                 data-ng-model="page.profile.properties.first_name" />
          <input type="text" class="form--control form--control--half"
                 id="last_name" name="last_name"  placeholder="Last Name"
                 data-ng-model="page.profile.properties.last_name" />
        </div>
      </div>

      <div class="form--row" data-ng-if="page.profile.id">
        <div class="form--label">
          <p>
            Your Name
          </p>
        </div>
        <div class="form--field">
          <input type="text" class="form--control form--control--half"
                 id="title" name="title" placeholder=""
                 data-ng-model="page.profile.properties.title" />
          <input type="text" class="form--control form--control--half"
                 id="organization_name" name="organization_name"  placeholder=""
                 data-ng-model="page.profile.properties.organization[0].properties.name" />
        </div>
      </div>

      <!-- User Profile Image -->
      <div class="form--row" data-ng-if="page.profile.id">
        <div class="form--label">
          <p>
            Profile Picture
          </p>
        </div>
        <div class="form--field" data-ng-if="!page.profile.properties.images.length">
          <label for="images" class="control--label">
            Include a profile picture
          </label>
          <input type="file" id="user--image" name="user--image"
                 class="form--control form--control--file"
                 file-model="page.image" />
        </div>
        <div class="form--field" data-ng-if="page.profile.properties.images.length">

          <p>
            <img class="img-circle" data-ng-src="{{ page.profile.properties.images[0].properties.thumbnail }}" />
          </p>
          <br />
          <button type="button" class="button button--hollow" data>Remove Image</button>

        </div>
      </div>

      <div class="form--row" data-ng-if="page.profile.id">
        <div class="form--label">
          <p>
            Contact Information
          </p>
        </div>
        <div class="form--field">
          <div class="form--element form--element--half">
            <label for="email" class="control--label">Email Address</label>
            <input type="text" class="form--control" id="email"
                   name="email" data-ng-model="page.profile.properties.email" />
         </div>
         <div class="form--element form--element--half">
            <label for="telephone" class="control--label">Telephone Number</label>
            <input type="text" class="form--control" id="telephone" name="telephone"
                   data-ng-model="phone.properties.number" placeholder="555-555-5555"
                   data-ng-repeat="phone in page.profile.properties.telephone track by $index" />
           </div>
        </div>
      </div>

      <!-- <div class="form--row" data-ng-if="page.profile.id">
        <div class="form--label">
          <p>
            Bio
          </p>
        </div>
        <div class="form--field">
          <textarea class="form--control" id="description"
                 name="description" placeholder="" rows="5"
                 data-ng-model="page.profile.properties.description">
            {{ page.profile.properties.description }}
          </textarea>
        </div>
      </div> -->

      <div class="form--actions" data-ng-if="page.profile.id">
        <div class="form--actions--buttons"></div>
        <div class="form--actions--buttons">
          <button type="submit" id="report--submit" name="report--submit"
                  class="button button--submit button--outline">
            Save
          </button>

        </div>
      </div>

    </form>

    <div class="status" data-ng-if="page.status.savingUser">
      <div class="throbber"></div>
      <p class="status--message">
        Saving your user information
      </p>
    </div>

  </div>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
