<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="site--content site--content--userProfileEdit">
  <div class="container">

    <div data-ng-if="page.status.saving.action"
         style="text-align: center;">
      <div class="throbber"></div>
    </div>

    <form class="form site--profile--edit" role="form"
          id="site--profile--edit" name="site--profile--edit"
          data-ng-submit="page.save()"
          data-ng-if="!page.status.saving.action" novalidate>


      <div class="form--row" data-ng-if="page.profile.id">
        <div class="form--label">
          <p>
            Your Name
          </p>
        </div>
        <div class="form--field">
          <input type="text" class="form--control form--control--half"
                 id="first_name" name="first_name" placeholder="First Name"
                 data-ng-model="page.profile.first_name" />
          <input type="text" class="form--control form--control--half"
                 id="last_name" name="last_name"  placeholder="Last Name"
                 data-ng-model="page.profile.last_name" />
        </div>
      </div>

      <div class="form--row" data-ng-if="page.profile.id">
        <div class="form--label">
          <p>
            Contact Information
          </p>
        </div>
        <div class="form--field">
          <div class="form--element form--element--half">
            <label for="email" class="control--label">Email Address</label>
            <input type="text" class="form--control" id="email"
                   name="email" data-ng-model="page.profile.email" />
         </div>
         <div class="form--element form--element--half">
            <label for="telephone" class="control--label">Telephone Number</label>
            <input type="text" class="form--control" id="telephone" name="telephone"
                   data-ng-model="phone.number" placeholder="555-555-5555"
                   data-ng-repeat="phone in page.profile.telephone track by $index" />
           </div>
        </div>
      </div>

      <div class="form--row" data-ng-if="page.profile.id">
        <div class="form--label">
          <p>
            Email Address
          </p>
        </div>
        <div class="form--field">
          <input type="text" class="form--control" id="email"
                 name="email" data-ng-model="page.profile.email" />
        </div>
      </div>


      <div class="form--row" data-ng-if="page.profile.id">
        <div class="form--label">
          <p>
            Bio
          </p>
        </div>
        <div class="form--field">
          <textarea class="form--control" id="description"
                 name="description" placeholder="" rows="5"
                 data-ng-model="page.profile.description">
            {{ page.profile.description }}
          </textarea>
        </div>
      </div>




      <!-- User Profile Image -->
      <div class="form--row">
        <div class="form--label">
          <p>
            Profile Picture
          </p>
        </div>
        <div class="form--field">
          <label for="images" class="control--label">
            Include a profile picture
          </label>
          <input type="file" id="user--image" name="user--image"
                 class="form--control form--control--file"
                 file-model="page.image" />
        </div>
      </div>

      <div class="form--actions">
        <div class="form--actions--buttons"></div>
        <div class="form--actions--buttons">
          <button type="submit" id="report--submit" name="report--submit"
                  class="button button--submit button--indent button--outline">
            Save
          </button>

        </div>
      </div>

    </form>

  </div>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
