<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="site--content">

  <div class="organization--profile" id="organization--profile--{{ page.organization.id }}">
    <div class="organization--profile--avatar">
      <img class="organization--profile--image img-circle"
           data-ng-src="{{ page.organization.properties.images[0].properties.thumbnail }}"
           data-ng-if="page.organization.properties.images[0].properties.thumbnail" />
      <img class="organization--profile--image organization--profile--empty img-circle"
           data-ng-src="/images/badget--MissingUser.png"
           data-ng-if="!page.organization.properties.images[0].properties.thumbnail" />
    </div>
    <div class="organization--profile--bio">
      <h1>
        {{ page.organization.properties.name }}
      </h1>
      <p>
        {{ page.organization.properties.description }}
      </p>
      <p>
        <a data-ng-if="$root.user.id && page.permissions.isCurrentUser" href="/profiles/{{ page.organization.id }}/edit" class="button button--link">
          Edit Profile
        </a>
      </p>
    </div>
  </div>


</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
