<!-- Untruthy Result Set (0) -->
<div class="row" data-ng-if="page.search.data.features.length === 0">
  <div class="col-sm-12">
  <p>Your search didn’t return any reports</p>
  </div>
</div>

<!-- Truthy Result Set (1+) -->
<section>
  <article id="report--{{ report.properties.id }}" class="report"
           data-ng-class="{'report--state--closed': (report.properties.state === 'closed') }"
           data-ng-repeat="report in page.search.data.features">
    <header class="report--author">
      <p class="report--date">
        <span data-ng-if="!report.timeToggle"
              data-ng-click="report.timeToggle =! report.timeToggle"
              am-time-ago="report.properties.report_date"></span>
        <span data-ng-if="report.timeToggle"
              data-ng-click="report.timeToggle =! report.timeToggle">
          {{ report.properties.report_date | date:"MMM d, yyyy"}}
        </span>
      </p>
      <a href="/profiles/{{ report.properties.owner.id }}">
        <img class="report--author--avatar" gravatar-size="32"
             data-ng-if="report.properties.owner.properties.email"
             gravatar-src="'{{ report.properties.owner.properties.email }}'" />
      </a>
      <p>
        <a class="report--author--name" href="/profiles/{{ report.properties.owner.id }}">
          {{ report.properties.owner.properties.first_name }} {{ report.properties.owner.properties.last_name }}
        </a>
      </p>
    </header>

    <figure class="report--media">
      <a href="/reports/{{ report.id }}">
        <!-- <img data-ng-if="report.properties.images.length" class="img-responsive"
             data-ng-src="{{ image.properties.original }}"
             data-ng-repeat="image in report.properties.images" width="100%" /> -->
       <img data-ng-if="report.properties.images.length"
            image-loader data="image.properties.original"
            data-ng-repeat="image in report.properties.images" width="100%" />
        <img data-ng-if="!report.properties.images.length" class="img-responsive"
             data-ng-src="/images/icon--MissingImage.png" width="100%" />
      </a>
    </figure>

    <div class="report--content">

      <p>
        {{ report.properties.report_description }}
        <a href="/reports/{{ report.id }}">
          View report
        </a>

      </p>
      <p>
        {{ report.properties.comments.length }}
      </p>
      <p data-ng-if="report.properties.territory">
        {{ report.properties.territory.properties.huc_6_name }}
      </p>
      <p>
        <span data-ng-if="report.properties.tags.length">
          <span class="label label--brand" data-ng-repeat="tag in report.properties.tags">
            <a href="" data-ng-click="page.search.hashtag(tag.properties.tag, 'report_description')">
              #{{ tag.properties.tag }}
            </a>
          </span>
        </span>
      </p>
    </div>
  </article>
</section>

<!-- Load More Results -->
<div class="row">
  <div class="col-sm-12">
    <!-- <a data-ng-click="page.search.autoload()" class="button">Load More</a> -->
  </div>
</div>

<footer class="features-footer">
  <nav class="pager" data-ng-if="page.search.data.properties.page === 1 && page.search.data.properties.total_pages === 1">
    <!-- If your on Page 1 and there's less than or equal to 10 results total -->
    <span class="page">
      Showing all {{ page.search.data.properties.num_results }} reports
    </span>
  </nav>
  <nav class="pager" data-ng-if="page.search.data.properties.total_pages > 1">
    <a data-ng-show="page.search.data.properties.total_pages >= page.search.data.properties.page && page.search.data.properties.page !== 1" href="javascript:void(0);" data-ng-click="page.search.paginate(page.search.data.properties.page-1)" class="previous">
      Previous
    </a>
    <span data-ng-show="!page.paginationLabel" data-ng-click="page.paginationLabel =! page.paginationLabel" class="page">Page {{ page.search.data.properties.page }} of {{ page.search.data.properties.total_pages }}</span>
    <span data-ng-show="page.paginationLabel" data-ng-click="page.paginationLabel =! page.paginationLabel" class="page">
      <span data-ng-if="page.search.data.properties.page === 1 && page.search.data.properties.total_pages > 1">
        Showing 1 - 10 of {{ page.search.data.properties.num_results | number:0 }} reports
      </span>

      <span data-ng-if="page.search.data.properties.page > 1 && page.search.data.properties.page !== page.search.data.properties.total_pages">
        Showing <span data-ng-bind="((page.search.data.properties.page-1)*10+1)"></span> - <span data-ng-bind="page.search.data.properties.page*10"></span> of {{ page.search.data.properties.num_results | number:0 }} reports
      </span>

      <span data-ng-if="page.search.data.properties.page > 1 && page.search.data.properties.page === page.search.data.properties.total_pages">
        Showing <span data-ng-bind="((page.search.data.properties.page-1)*10+1)"></span> - {{ page.search.data.properties.num_results }} of {{ page.search.data.properties.num_results | number:0 }} reports
      </span>
    </span>
    <a data-ng-show="page.search.data.properties.total_pages !== page.search.data.properties.page" href="javascript:void(0);" data-ng-click="page.search.paginate(page.search.data.properties.page+1)" class="next">
      Next
    </a>
  </nav>
</footer>
