<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<div data-ng-include="'/modules/components/activity/activityFeatured--view.html'"></div>

<main class="site--content site--content--activity">

  <div class="throbber" data-ng-if="!page.map.geojson.reports.data.features.length && !page.search.data.features.length">

  </div>

  <div class="container" data-ng-if="page.map.geojson.reports.data.features.length && page.search.data.features.length">
    <h2 class="text-center">Recent Activity</h2><br />

    <div data-ng-include="'/modules/components/activity/activityRecent--view.html'"></div>
  </div>

</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
