<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="site--content site--content--activity container">
  <div class="row">
    <div class="col-sm-4">
      <div data-ng-include="'/modules/shared/views/navigation--view.html'"></div>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <form class="site--search site--search--content form" role="form" id="form--search--reports" name="form--search--reports" data-ng-submit="activity.search.execute()">
          <div class="form-group">
            <label for="form--search--reportDescription">Search</label>
            <input type="text" class="form-control" id="form--search--reportDescription" name="form--search--reportDescription" data-ng-model="activity.search.params.report_description" data-ng-change="activity.search.execute()" autofocus="autofocus" />
          </div>
          <button data-ng-click="activity.search.clear()" class="btn btn-default">Clear Search</button>
          <span data-ng-if="activity.search.data.properties.num_results" class="pull-right">
            Showing {{ activity.search.data.properties.num_results || 0 | number:0 }} Reports
          </span>
        </form>
      </div>

      <br />

      <div class="row" data-ng-if="!activity.search.data.features.length">
        <div class="col-sm-12">
          <span class="throbber"></span>
        </div>
      </div>

      <!-- Untruthy Result Set (0) -->
      <div class="row" data-ng-if="activity.search.data.features.length === 0">
        <div class="col-sm-12">
        <p>Your search didn’t return any reports</p>
        </div>
      </div>

      <leaflet class="map" markers="activity.map.markers" defaults="activity.map.defaults" layers="activity.map.layers" center="activity.map.center" geojson="activity.map.geojson" bounds="activity.map.bounds" geojson-nested="true"></leaflet>

      <!-- Truthy Result Set (1+) -->
      <div class="row"
           data-ng-if="activity.search.data.features.length"
           data-ng-repeat="report in activity.search.data.features">
        <div id="report--{{ report.properties.id }}" class="panel panel-default" data-ng-class="{'report--state--closed': (report.properties.state === 'closed') }">
          <div class="panel-heading">
            <p class="pull-right">{{ report.properties.report_date | date:"MMM d, yyyy"}}</p>
            <a href="/profiles/{{ report.properties.owner.id }}">
              <img class="pull-left img-circle" data-ng-if="report.properties.owner.properties.email" gravatar-src="'{{ report.properties.owner.properties.email }}'" gravatar-size="64" style="padding-right: 12px;" />
            </a>
            <p>
              <a href="/profiles/{{ report.properties.owner.id }}">
                {{ report.properties.owner.properties.first_name }} {{ report.properties.owner.properties.last_name }}
              </a><br />
              {{ report.properties.owner.properties.title }} <span data-ng-if="report.properties.owner.properties.title && report.properties.owner.properties.organization_name">at</span><br data-ng-if="report.properties.owner.properties.title && report.properties.owner.properties.organization_name" />
              {{ report.properties.owner.properties.organization_name }}
            </p>
          </div>
          <figure data-ng-if="report.properties.images && report.properties.images.length">
            <a href="/reports/{{ report.id }}">
              <img class="img-responsive" data-ng-src="{{ image.properties.original }}" data-ng-repeat="image in report.properties.images" width="100%" />
            </a>
          </figure>
          <div class="panel-body">

            <p>
              <strong>User Submitted Content:</strong>
              {{ report.properties.report_description }}</p>
            <p>
              <strong>Permalink: </strong> <a href="/reports/{{ report.id }}">
                View report
              </a>
            </p>
            <p>
              <strong>Comments: </strong>  {{ report.properties.comments.length }}
            </p>
            <p>
              <strong>Watersheds: </strong>
              <span data-ng-if="report.properties.territory">
                {{ report.properties.territory.properties.huc_6_name }}, {{ report.properties.territory.properties.huc_8_name }}, {{ report.properties.territory.properties.huc_10_name }}, {{ report.properties.territory.properties.huc_12_name }}
              </span>
              <span data-ng-if="!report.properties.territory">
                <em>None</em>
              </span>
            </p>
            <p>
              <strong>Tags: </strong>
              <span data-ng-if="report.properties.tags.length">
                <span class="label label--brand" data-ng-repeat="tag in report.properties.tags">
                  <a href="" data-ng-click="activity.search.hashtag(tag.properties.tag, 'report_description')">
                    #{{ tag.properties.tag }}
                  </a>
                </span>
              </span>
              <span data-ng-if="!report.properties.tags.length">
                <em>None</em>
              </span>
            </p>

            <p>
              <strong>Longitude/Latitude: </strong> <em>
                <span data-ng-if="report.geometry">
                  {{ report.geometry.geometries[0].coordinates[0] }},
                  {{ report.geometry.geometries[0].coordinates[1] }}
                </span>
                <span data-ng-if="!report.geometry">
                  None
                </span>
              </em>
            </p>
          </div>
        </div>
      </div>

      <!-- Load More Results -->
      <div class="row">
        <div class="col-sm-12">
          <!-- <a data-ng-click="activity.search.autoload()" class="button">Load More</a> -->
        </div>
      </div>

      <footer class="features-footer">
        <nav class="pager" data-ng-if="activity.search.data.properties.page === 1 && activity.search.data.properties.total_pages === 1">
          <!-- If your on Page 1 and there's less than or equal to 10 results total -->
          <span class="page">
            Showing all {{ activity.search.data.properties.num_results }} reports
          </span>
        </nav>
        <nav class="pager" data-ng-if="activity.search.data.properties.total_pages > 1">
          <a data-ng-show="activity.search.data.properties.total_pages >= activity.search.data.properties.page && activity.search.data.properties.page !== 1" href="javascript:void(0);" data-ng-click="activity.search.paginate(activity.search.data.properties.page-1)" class="previous">
            Previous
          </a>
          <span data-ng-show="!activity.paginationLabel" data-ng-click="activity.paginationLabel =! activity.paginationLabel" class="page">Page {{ activity.search.data.properties.page }} of {{ activity.search.data.properties.total_pages }}</span>
          <span data-ng-show="activity.paginationLabel" data-ng-click="activity.paginationLabel =! activity.paginationLabel" class="page">
            <span data-ng-if="activity.search.data.properties.page === 1 && activity.search.data.properties.total_pages > 1">
              Showing 1 - 10 of {{ activity.search.data.properties.num_results | number:0 }} reports
            </span>

            <span data-ng-if="activity.search.data.properties.page > 1 && activity.search.data.properties.page !== activity.search.data.properties.total_pages">
              Showing <span data-ng-bind="((activity.search.data.properties.page-1)*10+1)"></span> - <span data-ng-bind="activity.search.data.properties.page*10"></span> of {{ activity.search.data.properties.num_results | number:0 }} reports
            </span>

            <span data-ng-if="activity.search.data.properties.page > 1 && activity.search.data.properties.page === activity.search.data.properties.total_pages">
              Showing <span data-ng-bind="((activity.search.data.properties.page-1)*10+1)"></span> - {{ activity.search.data.properties.num_results }} of {{ activity.search.data.properties.num_results | number:0 }} reports
            </span>
          </span>
          <a data-ng-show="activity.search.data.properties.total_pages !== activity.search.data.properties.page" href="javascript:void(0);" data-ng-click="activity.search.paginate(activity.search.data.properties.page+1)" class="next">
            Next
          </a>
        </nav>
      </footer>
    </div>
  </div>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
