<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="site--content site--content--activity">
  <div class="page--content page--content--form page--content--transparent">

    <h1 class="search--title" data-ng-if="page.search.data.properties.num_results">
      {{ page.search.data.properties.num_results || 0 | number:0 }} reports<br />
      <em class="search--title--term"
          data-ng-if="page.search.term">
        {{ ::page.search.term }}
      </em>
    </h1>

    <div class="search--toolbar">
      <form class="form search--form" role="form" id="search--form"
            name="search--form" data-ng-submit="page.search.execute()">
        <div class="form--field">
          <div class="form--element form--element--thirds">
            <label for="report_description" class="control--label">
              Keyword
            </label>
            <input type="text" class="form--control" autofocus="autofocus"
                   id="report_description" name="report_description"
                   data-ng-model="page.search.params.report_description" />
             <p class="search--download help--text">
               <span data-ng-if="!page.download.processing">
                 Download results as
                 <a href="javascript:void(0);" data-ng-click="page.download.csv()">CSV</a> or
                 <a href="javascript:void(0);" data-ng-click="page.download.geojson()">GeoJSON</a>
               </span>
               <span data-ng-if="page.download.processing">
                 Creating your {{ page.download.format }} file...
               </span>
             </p>
          </div>
          <div class="form--element form--element--thirds">
            <select id="territory" name="territory" class="form--control"
                    data-ng-model="page.search.params.territory"
                    data-ng-change="page.changeSearchType()"
                    data-ng-options="option.val as option.name for option in page.search.options">
              <option value="">All Reports</option>
            </select>
          </div>
          <div class="form--element form--element--thirds">
            <button type="submit" class="button button--info">
              Search
            </button>
            <a class="search--button--clear" data-ng-click="page.search.clear()">
              Clear Search
            </a>
          </div>
        </div>
      </form>
    </div>

    <div class="row" data-ng-if="!page.search.data.features">
      <div class="col-sm-12">
        <span class="throbber"></span>
      </div>
    </div>

    <div data-ng-include="'/modules/components/search/results--view.html'"></div>

    <p>
      <a data-ng-click="page.search.more()" class="circle--button"
         data-ng-if="!page.search.status.loading && page.search.data.features.length < page.search.data.properties.num_results">
          Load More
      </a>
      <span data-ng-if="page.search.status.loading" class="throbber"></span>
    </p>

  </div>

</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
